/* Elevation */

$elev-soft-sm: 0 0 1rem 0.0625rem rgba(0, 0, 0, 0.2);
$elev-soft-md: 0 0 1.5rem 0.25rem rgba(0, 0, 0, 0.1);


/* Corner radius */

$bordRad-sm: 0.5rem;
$bordRad-md: 1rem;


/* Margins */

$margin-all-sm: 0.5rem;
$margin-all-md: 1rem;

$margin-left-sm: 0.5rem 0.5rem 0.5rem 1.5rem;
$margin-right-sm: 0.5rem 1.5rem 0.5rem 0.5rem;

$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.5rem;


/* Paddings */

$pad-all-sm: 1rem;
$pad-all-md: 1.5rem;

$pad-hori-sm: 1.5rem 1rem 1.5rem 1rem;
$pad-vert-sm: 1rem 1.5rem 1rem 1.5rem;

$pad-sm: 0.5rem;
$pad-md: 1rem;
$pad-lg: 1.5rem;
