/* Surfaces */

$clr-baseCanvas-dark: rgba(#080808, 1);
$clr-dark: rgba(#111111, 1);
$clr-primary: rgba(#262626, 1);
$clr-black: rgba(#000000, 1);

$clr-baseCanvas-light: rgba(#F6F6F6, 1);
$clr-light: rgba(#FBFBFB, 1);
$clr-white: rgba(#FFFFFF, 1);


/* Icon colors */

$clr-secondary: rgba(#FF9200, 1);
$clr-error: rgba(#E24F4F, 1);
$clr-textLink: rgba(#009FD9, 1);
$clr-success: rgba(#84B752, 1);


/* Swatches - Primary */

$clr-swatchPrimary-200: rgba(#F1F1F1, 1);
$clr-swatchPrimary-250: rgba(#EDEDED, 1);
$clr-swatchPrimary-300: rgba(#E5E5E5, 1);
$clr-swatchPrimary-350: rgba(#D6D6D6, 1);
$clr-swatchPrimary-400: rgba(#C3C3C3, 1);
$clr-swatchPrimary-500: rgba(#A5A5A5, 1);
$clr-swatchPrimary-600: rgba(#7B7B7B, 1);
$clr-swatchPrimary-700: rgba(#676767, 1);
$clr-swatchPrimary-800: rgba(#474747, 1);
$clr-swatchPrimary-850: rgba(#333333, 1);


/* Swatches - Secondary */

$clr-secondary-050: rgba(#FFF8E1, 1);
$clr-secondary-100: rgba(#FFEDB4, 1);
$clr-secondary-900: rgba(#FF7200, 1);


/* Swatches - Errors */

$clr-error-100: rgba(#FACBD0, 1);


/* Swatches - Success */

$clr-success-100: rgba(#DEEECC, 1);