/* Font family */

$font-main: 'Inter', sans-serif;


/* Font Sizing */

$font-captionXS: 0.625rem;          // 10px
$font-caption: 0.75rem;             // 12px
$font-body2: 0.875rem;              // 14px
$font-body1: 1rem;                  // 16px
$font-h6: 1.25rem;                  // 20px
$font-h5: 1.5rem;                   // 24px
$font-h4: 2rem;                     // 32px


/* Font weight */

$font-w-title: bold;
